.areas-list {
    display: flex;
    gap: 16px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}
.input-text {
    border-width: 1px;
}
.submit-btn {
    display: inline;
    margin-top: 8px;
    width: 120px;
}
